input, select {
	display: block;
	margin-bottom: 10px;
}
fieldset {
	width: 500px;
	float: left;
}


.clear {
	clear: both;
}

#starting_form {
	width: 90%;
	margin: 0 auto;
	padding: 10px;
	background-color: #f2f2f2;
}
#submit {
	margin-top: 20px;
}

/*Temp results*/

#absResults {
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: white;
	border: 1px solid black;
}
.resYandM {
	display: inline-block;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
.resYears {
	display: block;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	padding-left: 3px;
}
.resMonths {
	display: block;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	width: 45px;
	overflow: hidden;
	padding: 5px 0px;
	padding-left: 3px;

}
.resBold {
	display: block;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	width: 120px;
	overflow: hidden;
	padding: 5px 0px;
	padding-left: 3px;
}
.gryBck {
	background-color: #e3e3e3
}
.resultWide {
	width: 80px;
}
.allIncomesGreen {
	background-color: #90EE90;
}
.allExpensesRed {
	background-color: #FF0000;
}
