input, select {
	display: block;
	margin-bottom: 10px;
}
fieldset {
	width: 500px;
	float: left;
}


.clear {
	clear: both;
}

#starting_form {
	width: 90%;
	margin: 0 auto;
	padding: 10px;
	background-color: #f2f2f2;
}
#submit {
	margin-top: 20px;
}

/*Temp results*/

#absResults {
	display: none;
	position: absolute;
	top: 100px;
	left: 0px;
	background-color: white;
}
.tableFirstColumnClass {
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	float: left;
}
.tableElement {
	width: 100px;
	height: 16px;
	line-height: 16px;
	color: black;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	padding: 3px;
	text-align:center;
}
.tableElementLabel {
	width: 260px;
	height: 16px;
	line-height: 16px;
	color: black;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding: 3px;
}
#resultsWrapper > div > div.tableElementLabel, #resultsWrapper > div > div.tableElement {
	border-top: 1px solid #e0e0e0;
}
.borderBottClass {
	border-bottom: 1px solid #000;
	float: left;
}
#resultsWrapper .backGrColorTable {
	color: #fff;
	background-color: #0563fc;
	border-top: 1px solid #000 !important;
}
.borderBotBlack {
	border-bottom: 1px solid #000;
}


