body, div, p, h1, h1 {
	font-family: sans-serif;
}
h1, h2 {
	text-align: center;
}
input:not([type='checkbox']), select {
	display: block;
	margin-bottom: 10px;
}
.clear {
	clear: both;
}
.popUps {
	display: none;
	position: fixed;
	top: 20px;
	left: 0px;
}
.popUps legend {
	display: block;
	width: 70%;
	margin: 0 auto;
	background-color: #e3e3e3;
	padding: 10px;
}
#main_wrapper {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: white;
}
.mainSections {
	display: none;
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 20px;
}
#section_13 {
	display: block;
}
.next_back_wrapper {
	display: flex;
	justify-content: space-between;
}
.back_button {
	/*display: none;*/
}

/* Income From Employment */
.income_lumps, .selfIncome_lumps, .alimony_lumps, .childSupp_lumps, #nonRetireDifferentPercWrapper, #nonfinanDifferentPercWrapper {
	display: none;
}



/*Temp results*/

#absResults {
	display: none;
	position: absolute;
	top: 100px;
	left: 0px;
	background-color: white;
}
.tableFirstColumnClass {
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	float: left;
}
.tableElement {
	width: 100px;
	height: 16px;
	line-height: 16px;
	color: black;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	padding: 3px;
	text-align:center;
}
.tableElementLabel {
	width: 260px;
	height: 16px;
	line-height: 16px;
	color: black;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding: 3px;
}
#resultsWrapper > div > div.tableElementLabel, #resultsWrapper > div > div.tableElement {
	border-top: 1px solid #e0e0e0;
}
.borderBottClass {
	border-bottom: 1px solid #000;
	float: left;
}
#resultsWrapper .backGrColorTable {
	color: #fff;
	background-color: #0563fc;
	border-top: 1px solid #000 !important;
}
.borderBotBlack {
	border-bottom: 1px solid #000;
}


